* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

p {
  /* margin: 0.75rem 0; */
}

/* Utility Classes */
.container {
  max-width: 1100px;
  margin: auto;
  padding: 0 2rem;
  overflow: hidden;
}

.text-center {
  text-align: center;
}

/* navbar */
header {
  background: rgb(226, 226, 226);
  color: rgb(0, 0, 0);
}
#navbar h1 {
  padding: 8px;

  background: rgb(190, 189, 189);
}
.text-primary {
  color: rgb(77, 53, 3);
}

#navbar {
  display: flex;
  /* justify-content: space-between; */
  flex-wrap: wrap;

  padding: 1rem;
  align-items: center;
}

#navbar ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  /* flex-grow: 1; */
}

#navbar ul li {
  color: inherit;
  padding: 5px;
  margin: 0 0.5rem;
}

#navbar ul li a:hover {
  /* background: #93cb52; */
  border-radius: 5px;
}
.logo {
  /* flex-grow: 1; */
}
.numbers {
  /* flex-grow: 1; */
  margin: 0 10px;
}
.number__item {
  display: flex;
  flex-wrap: wrap;

  padding: 5px;
}
.btn {
  display: inline-block;
  color: #333;
  background: transparent;
  padding: 0.5rem 2rem;
  border: 1px solid #333;
  border-radius: 5px;
  margin: 15px;
}

.showcase {
  /* height: 400px; */
  background: rgb(190, 189, 189);
}
.block {
  display: flex;
  flex-wrap: wrap;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 400px;
}
.main {
}
.specialites {
  background: rgb(82, 82, 82);
  display: flex;
  flex-wrap: wrap;

  justify-content: space-between;
  /* margin-top: -50px; */
  /* position: relative;
  top: -50px;
  z-index: 999; */
}
.raiting {
  margin-left: 25px;
  display: inline-block;
  padding: 2px 6px;
}
.icon {
  display: inline-block;

  padding: 2px 6px;
}
.p-1 {
  padding: 15px;
}
.spec__item {
  padding: 20px 10px;
}

.showcase {
  position: relative;
  z-index: 0;
}

.secondShow {
  position: relative;
  z-index: 5;
  top: -50px;
}
.picture {
  margin: 0 auto;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background: rgb(190, 189, 189);
  margin-bottom: 10px;
}

.info__item {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  max-width: 200px;
}

.info__item p {
  flex: 1;
}

.info__item h4 {
  padding: 8px 0;
}
.info__item h5 {
  padding: 8px 0;
}
.info {
  display: flex;
  /* flex-wrap: wrap; */

  justify-content: center;
  align-items: center;
  flex: 1;
}
.info__item {
  margin: 10px 15px 25px 15px;
}

footer {
  background: rgb(31, 29, 29);
  color: #fff;
}

@media (max-width: 740px) {
  .info {
    flex-wrap: wrap;
  }
  .numbers {
    display: none;
  }
}
