* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 5px 40px;
}

.logo {
  /* flex-grow: 1; */
}

.nav__item {
  /* flex-grow: 1; */
}

.nav__item ul {
  display: flex;
  justify-content: space-around;
  margin-left: auto;
  color: gray;
}

.nav__item ul li {
  list-style: none;
  padding: 3px 8px;
  margin: 0 20px;
}

.logo {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  letter-spacing: 4px;
  color: #333;
  font-weight: 900;
}

/* showcase */

.showcase {
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  background: pink;
}

.center {
  padding: 0 200px;
}

.center h1 {
  margin-bottom: 30px;
}

p {
  letter-spacing: 1.5px;
  font-size: 11px;
  font-family: "Montserrat", sans-serif;
}

.desc {
  display: flex;
  flex-direction: row;
}

.right__line {
  padding: 0 30px;
  margin-top: 25px;
  height: 4px;
  width: 30px;
  border-bottom: 1px solid gray;
  position: relative;
}

.right__line::before {
  content: ">";
  position: absolute;
  left: 54px;
  top: -5px;
  color: gray;
}

/* main */
main {
  position: relative;
  /* height: 600px; */
}

/* .fake {
  position: absolute;
  top: 0;
  left: 0;

  height: 50px;
  width: 50px;
  background: orange;
  z-index: 10;
} */
.news h1 {
  margin-left: 20px;
}

.lastNews {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.news_item {
  margin: 10px 0 20px 0;
  padding: 0 10px;
}

.news_item .img {
  background: lightgray;
  width: 100%;
  height: 200px;
  margin-bottom: 20px;
}

.news_item .data p {
  font-size: 17px;
  margin-bottom: 10px;
}

footer {
  padding: 45px 0px;
  background: gray;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content__item {
  margin: 0 40px;
}

.content__item p {
  font-size: 10px;
  letter-spacing: 1px;
  margin: 10px 0;
}

.content__item .twit {
  display: inline-block;
  background: skyblue;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin: 0 5px;
}

.content__item .faceb {
  display: inline-block;

  background: blue;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin: 0 15px;
}

.content__item .inst {
  display: inline-block;

  background: red;
  width: 15px;
  height: 15px;
  border-radius: 80%;
  margin: 0 5px;
}

.content__item a {
  text-decoration: none;
}